{% load static %}
{% block js %}
    <script src="{% static "node_modules/leaflet/dist/leaflet.js" %}"></script>
    <script src="{% static "node_modules/leaflet-draw/dist/leaflet.draw.js" %}"></script>
    <script src="{% static "node_modules/underscore/underscore.js" %}"></script>
    <script src="{% static "node_modules/highcharts/highcharts.js" %}"></script>
    <script src="{% static "node_modules/highcharts-more/more.js" %}"></script>
    <script src="{% static "node_modules/jquery/dist/jquery.js" %}"></script>
    <script src="{% static "node_modules/jquery-ui/ui/widgets/datepicker.js" %}"></script>
    <link rel="stylesheet" href="{% static "node_modules/jquery-ui/themes/base/all.css" %}">
      <script>
  $( function() {
    $( "#start_date" ).datepicker();
  } );
  $( function() {
    $( "#end_date" ).datepicker();
  } );
  </script>
    <link rel="stylesheet" href="{% static "node_modules/leaflet/dist/leaflet.css" %}"/>
    <link rel="stylesheet" href="{% static "node_modules/leaflet-draw/dist/leaflet.draw.css" %}"/>
{% endblock %}
