{% extends "base.html" %}

{% load static %}

{% block js %}
    {{ block.super }}
    <p>Draw a box and await instructions, your file will be prepared shortly</p>
    <p>Start date: <input type="text" id="start_date"></p>
    <p>End date: <input type="text" id="end_date"></p>
    <h2 id="downloads"></h2>
    <div id="chart" style="width: 50%; height: 100%; float:left;">
    </div>
    <div id="mapid" style="width: 50%; height: 100%; float:right;">
    </div>

    <script>

        function callback(response) {
            var element = document.getElementById("downloads");
            const parsed = {ndvi: []};
            response = JSON.parse(response);
            // element.innerHTML = response.data;
            data = JSON.parse(response.data);
            parsed["ndvi"] = _.map(data, function (item) {
                return [item.Date, item.Mean]
            });
            console.log(parsed["ndvi"]);
            Highcharts.chart('chart', {
                xAxis: {type: 'datetime'},
                title: {
                    text: 'NDVI for plot'
                },

                yAxis: {
                    title: {
                        text: 'NDVI'
                    }
                },

                series: [{
                    data: parsed["ndvi"],
                    tooltip: {
                        valueDecimals: 2
                    },
                    name: 'NDVI'
                }],
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },

            });
            // L.imageOverlay(response.url, response.bounds).addTo(mymap);
        }

        function httpGet(bounds) {
            console.log(bounds);
            var element = document.getElementById("downloads");
            var start_date = document.getElementById("start_date");
            var end_date = document.getElementById("end_date");
            element.innerHTML = 'Getting info for bounds, please await update...';
            theUrl = '/bounds/?bounds=' + bounds + '&start_date=' + start_date.value + '&end_date=' + end_date.value;
            console.log(theUrl);
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200)
                    callback(xmlHttp.response);
                else if (xmlHttp.status === 400);
                    element.innerHTML = 'No data found for this query';
            };
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }

        var mymap = L.map('mapid').setView([53.35, -6.25], 11);
        var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        });
        Esri_WorldImagery.addTo(mymap);

        var drawnItems = new L.FeatureGroup();
        mymap.addLayer(drawnItems);

        var drawControl = new L.Control.Draw({
            draw: {
                polygon: true,
                marker: false,
                polyline: false,
                circlemarker: false,
                circle: false
            },
            edit: {
                featureGroup: drawnItems,
                edit: false
            }
        });

        mymap.addControl(drawControl);

        mymap.on(L.Draw.Event.CREATED, function (e) {
            _.map(drawnItems._layers, function (layer) {
                drawnItems.removeLayer(layer)
            });
            layer = e.layer;
            bounds = _.flatten(_.map(layer._bounds, function (ll) {
                return [ll.lat, ll.lng]
            }));
            console.log(bounds.join());
            drawnItems.addLayer(layer);
            httpGet(bounds.join());
        });

    </script>

{% endblock %}