{% extends "base.html" %}

{% load static %}

{% block js %}
    {{ block.super }}
    <p>Draw a box and await instructions, your file will be prepared shortly</p>
    <h2 id="downloads"></h2>
    <div id="mapid" style="width: 100%; height: 100%;"></div>

    <script>
        function callback(alert_info) {
            var element = document.getElementById("downloads");
            element.innerHTML = alert_info;
        }

        function httpGet(bounds) {
            console.log(bounds);
            var element = document.getElementById("downloads");
            element.innerHTML = 'Getting info for bounds, please await update...';
            theUrl = '/bounds/?bounds=' + bounds;
            console.log(theUrl);
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200)
                    callback(xmlHttp.responseText);
            };
            xmlHttp.open("GET", theUrl, true); // true for asynchronous
            xmlHttp.send(null);
        }

        var mymap = L.map('mapid').setView([53.35, -6.25], 11);
        var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        });
        Esri_WorldImagery.addTo(mymap);

        var drawnItems = new L.FeatureGroup();
        mymap.addLayer(drawnItems);

        var drawControl = new L.Control.Draw({
            draw: {
                polygon: false,
                marker: false,
                polyline: false,
                circlemarker: false,
                circle: false
            },
            edit: {
                featureGroup: drawnItems,
                edit: false
            }
        });

        mymap.addControl(drawControl);
        mymap.on(L.Draw.Event.CREATED, function (e) {
            _.map(drawnItems._layers, function (layer) {
                drawnItems.removeLayer(layer)
            });
            layer = e.layer;
            bounds = _.flatten(_.map(layer._bounds, function (ll) {
                return [ll.lat, ll.lng]
            }));
            console.log(bounds.join());
            drawnItems.addLayer(layer);
            httpGet(bounds.join());
        });

    </script>

{% endblock %}